---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

export interface Props {
  index: number;
  member: CollectionEntry<"member">;
}

const { member, index } = Astro.props;

const bgColors = [
  "bg-amber-400",
  "bg-rose-400",
  "bg-yellow-400",
  "bg-pink-400",
  "bg-sky-600",
  "bg-lime-400",
];
---

<a
      href={member.slug}
      title={member.data.name}
  id={"band-member-" + index}
  class="group block no-underline hover:no-underline hover:scale-105 transition-transform transform"
>
  <div
  class="flex flex-col items-center gap-2 bg-gradient-to-r from-purple-900/40 to-pink-900/30 shadow-lg hover:shadow-xl border border-pink-400/30 hover:border-pink-400/70 rounded-xl transition-all duration-300"
  >
  <div class="relative aspect-square">
    {
      member.data.photo && (
        <picture>
          {typeof member.data.photo === "object" ? (
            <Image
              src={member.data.photo}
              alt={member.data.name}
              width={member.data.photo.width}
              height={member.data.photo.height}
              decoding="async"
              class={`${bgColors[member.data.order % bgColors.length]} w-full h-full object-cover rounded-t-lg`}
            />
          ) : (
            <img
              src={member.data.photo}
              alt={member.data.name}
              decoding="async"
              class={`${bgColors[member.data.order % bgColors.length]} w-full h-full object-cover rounded-t-lg`}
            />
          )}
        </picture>
      )
    }
  </div>
  <div class="p-4 text-center">
    <h3 class="text-pink-400 text-xl">
      <em class="opacity-60 px-1 text-pink-100">
        {member.data.adjective ? member.data.adjective : ""}
      </em>
      <br />
      <strong>{member.data.name}</strong>
    </h3>
    <p class="py-2 text-yellow-200">{member.data.instrument}</p>
  </div>
</div>
</a>
