---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const details = await getCollection("details");
export interface Props {
  index: number;
  member: CollectionEntry<"member">;
}

const { member, index } = Astro.props;

const bgColors = [
  "bg-amber-400",
  "bg-rose-400",
  "bg-yellow-400",
  "bg-pink-400",
  "bg-sky-600",
  "bg-lime-400",
];
---

<a
  href={"/member/" + member.slug}
  title={member.data.name}
  id={"band-member-" + index}
  class="group block no-underline hover:no-underline hover:scale-105 transition-transform transform"
>
  <div
    class="flex flex-col items-stretch gap-2 bg-linear-to-r from-purple-900/40 to-pink-900/30 shadow-lg hover:shadow-xl backdrop-blur-sm border border-pink-400/30 hover:border-pink-400/70 rounded-xl transition-all duration-300"
  >
    <div class="relative aspect-square">
      {
        member.data.photo ? (
          <picture>
            {typeof member.data.photo === "object" ? (
              <Image
                src={member.data.photo}
                alt={member.data.name}
                width={162.767}
                height={162.767}
                decoding="async"
                class="rounded-t-lg w-full h-full object-cover"
                style={
                  member.data.photoColor
                    ? `background-color: ${member.data.photoColor};`
                    : bgColors[member.data.order % bgColors.length]
                }
              />
            ) : (
              <img
                src={member.data.photo}
                alt={member.data.name}
                width={50}
                height={50}
                decoding="async"
                class="rounded-t-lg w-full h-full object-cover"
                style={
                  member.data.photoColor
                    ? `background-color: ${member.data.photoColor};`
                    : bgColors[member.data.order % bgColors.length]
                }
              />
            )}
          </picture>
        ) : (
          <Image
            src="/assets/svgs/logo.svg"
            alt={details[0].data.name}
            width={350}
            height={350}
            loading="eager"
            class="rounded-t-lg w-full h-full object-cover"
            style={
              member.data.photoColor
                ? `background-color: ${member.data.photoColor};`
                : bgColors[member.data.order % bgColors.length]
            }
          />
        )
      }
    </div>
    <div class="px-4 pt-2 pb-4 w-full text-center align-middle">
      <h3
        class="flex justify-center items-center min-h-14 text-pink-400 max-[376px]:text-base text-xl text-center align-middle"
      >
        <strong>{member.data.name}</strong>
      </h3>
    </div>
  </div>
</a>
