---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

export interface Props {
  show: CollectionEntry<"show">;
  index: number;
}

const { show, index } = Astro.props;
---

<a
  id={"show-" + index}
  href={"/show/" + show.slug}
  title={show.data.title}
  class="group block no-underline hover:no-underline hover:scale-105 transition-transform transform"
>
  <div
    class="flex flex-col items-center gap-6 bg-linear-to-r from-purple-900/40 to-pink-900/30 shadow-lg hover:shadow-xl backdrop-blur-sm p-4 border border-pink-400/30 hover:border-pink-400/70 rounded-xl transition-all duration-300"
  >
    <div class="flex md:flex-row flex-col items-center gap-4 w-full">
      <div class="flex flex-col items-center gap-4 my-4 w-full">
        <h3
          class="font-extrabold text-white group-hover:text-pink-300 text-2xl text-center transition-colors duration-200"
        >
          {show.data.title}
        </h3>
        <div class="flex flex-col items-center gap-4 w-full">
          <p class="text-yellow-200 text-lg text-center italic tracking-wide">
            {show.data.location}
          </p>
          <div class="flex flex-col items-center gap-2">
            <span class="font-medium text-white text-lg">
              {show.data.startDate}{
                show.data.startDate !== show.data.endDate
                  ? " – " + show.data.endDate
                  : ""
              }
            </span>
            <span
              class="bg-pink-700/80 shadow-sm px-3 py-1 rounded-full font-bold text-white text-lg"
            >
              {show.data.startTime}
            </span>
          </div>
        </div>
      </div>
      {
        show.data.image && (
          <picture>
            {typeof show.data.image === "object" ? (
              <Image
                src={show.data.image}
                alt={show.data.title}
                width={show.data.image.width}
                height={show.data.image.height}
                decoding="async"
                class="rounded-lg w-full h-auto"
              />
            ) : (
              <img
                src={show.data.image}
                alt={show.data.title}
                width={350}
                height={350}
                decoding="async"
                class="rounded-lg w-full h-auto"
              />
            )}
          </picture>
        )
      }
    </div>
  </div>
</a>
