---
export interface Props {
  event: {
    slug: string;
    data: {
      image?: {
        src: string;
        width: number;
        height: number;
      };
      imageAlt?: string;
      title: string;
    };
    body: string;
  };
}

const { event } = Astro.props;
---

<article
  id={event.slug}
  class="flex flex-col gap-4 p-4 border border-lifeBorder rounded-lg max-w-2xl text-left"
>
  {
    event.data.image && (
      <a title={event.data.title} href={"/event/" + event.slug}>
        <img
          src={event.data.image.src}
          alt={event.data.imageAlt ? event.data.imageAlt : event.data.title}
          width={event.data.image.width}
          height={event.data.image.height}
          decoding="async"
          loading="lazy"
          class="rounded-lg w-full min-h-32 max-h-60 object-cover"
          style="aspect-ratio: 16/9;"
        />
      </a>
    )
  }
  <a title={event.data.title} href={"/event/" + event.slug}
    ><h2 id={event.data.title}>{event.data.title}</h2></a
  >
  <p>
    {
      event.body
        .split(" ")
        .slice(0, 20)
        .join(" ")
        .replace(/[#*_\`]/g, "")
        .replace(/\[([^\]]+)\]\([^\)]+\)/g, "$1")
        .trim() + (event.body.split(" ").length > 20 ? "..." : "")
    }
  </p>
  <a class="text-2xl" title={event.data.title} href={"/event/" + event.slug}
    >Learn More...</a
  >
</article>
