---
import { getCollection, getEntries } from "astro:content";
import BaseLayout from "src/layouts/BaseLayout.astro";
import CardMemberSmall from "@components/CardMemberSmall.astro";
import { marked } from "marked";
import { formatDate } from "@js/utils";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const shows = await getCollection("show");
  return shows.map((show) => ({
    params: { show: show.slug },
    props: { show: show },
  }));
}

const { show } = Astro.props;
const content = await marked.parse(
  show.body.replace(/\n(?=\n)/g, "\n\n<br/>\n"),
);

const members = (await getEntries(show.data.member))
  .filter((member) => member.collection === "member")
  .sort((a, b) => (a.data.order ?? 0) - (b.data.order ?? 0));

const bgColors = [
  "bg-amber-400",
  "bg-rose-400",
  "bg-yellow-400",
  "bg-pink-400",
  "bg-sky-600",
  "bg-lime-400",
];
---

<BaseLayout
  title={show.data.title}
  description={show.body
    .split(" ")
    .slice(0, 20)
    .join(" ")
    .replace(/[#*_\`]/g, "")
    .replace(/\[([^\]]+)\]\([^\)]+\)/g, "$1")
    .trim() + (show.body.split(" ").length > 20 && "...")}
>
  <article
    id="show"
    class="flex flex-col gap-8 mx-auto px-6 pt-6 max-[460px]:pt-10 pb-32 max-w-[1320px] container"
  >
    <section id="show-image" class="relative">
      {
        show.data.image && (
          <picture>
            {typeof show.data.image === "object" ? (
              <Image
                src={show.data.image}
                alt={show.data.title}
                width={show.data.image.width}
                height={show.data.image.height}
                loading="eager"
                class={`${bgColors[0]} w-full h-full object-cover rounded-lg`}
              />
            ) : (
              <img
                src={show.data.image}
                alt={show.data.title}
                width={350}
                height={350}
                loading="eager"
                class={`${bgColors[0]} w-full h-full object-cover rounded-lg`}
              />
            )}
          </picture>
        )
      }
    </section>

    <section
      id="show-info"
      class="flex flex-col gap-4 mx-auto mt-8 max-w-[1087px]"
    >
      <section id="show-details" class="flex flex-col gap-4">
        <h1 id={show.data.title}>{show.data.title}</h1>
        <div>
          {show.data.date && <p>{formatDate(show.data.date)}</p>}
        </div>
      </section>

      {
        members.length !== 0 && (
          <section
            id="members-and-content"
            class="flex md:flex-row flex-col justify-left items-stretch gap-4"
          >
            <div class="flex flex-col justify-left items-stretch gap-2 border-yellow-400 border-t">
              <h2 class="pt-4 text-base">Band</h2>
            <div class="flex lg:flex-col flex-wrap justify-left items-stretch gap-6">
              {members.map((member, index) => (
                <CardMemberSmall index={index} member={member} />
              ))}
            </div>
            </div>

            <div id="show-content" class="mx-auto max-w-3xl overflow-auto">
              <p set:html={content} />
            </div>
          </section>
        )
      }
    </section>
  </article>
</BaseLayout>
